<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<app-ngifdemo2></app-ngifdemo2>
<p class="app-ngifdemo3"></p>


Way1 of For Loop
<app-ngfordemo1></app-ngfordemo1>

Way2 of For Loop
<div app-ngfordemo2></div>

Way3 of For Loop
<div class="app-ngfordemo3"></div>

Way 4 of For Loop
<app-ngfordemo4></app-ngfordemo4>

<h1> Ng Switch Example</h1>
<app-switchexample></app-switchexample>

<router-outlet></router-outlet>
